.profile {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}
.profile__pic > img {
  display: block;
  margin: 0 auto;
  border: 5px solid #c5c5c5;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3px;
  cursor: pointer;
}
.profile__name > h2 {
  text-align: center;
  padding: 20px 0px;
  font-family: "Montserrat", sans-serif;
}
.profile__info {
  width: 80%;
  margin: 0 auto;
}
.profile__info > p {
  margin: 10px;
}
